# {
#     "parser": "babel-eslint",
#     "env": {
#         "browser": true
#     },
#     "plugins": [
#         "react"
#     ],
#     "extends": [
#         "eslint:recommended",
#         "plugin:react/recommended"
#     ],
#     "rules": {
#         // overrides
#     }
# }

{ 
  "extends": [
    "rallycoding"
    // "plugin:import/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "arrow-body-style": 0,
    "react/require-extension": "off",
    "semi": "off"
    },
  "env": {
    "browser": true
  }
}
